<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/index.css">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAERERAAAAABEREREQAAABEREAERAAAAEREAABEAAAAREAAAEQAAABEQAAERAAAAERAAERAAAAAAAAAREAAAAAAAAREAAAAAAAAREAARAAAAAREAABEAAAABEQAAEQAAAAERAAERAAAAAREQERAAAAABEREREAAAAAABEREAAADgfwAAgD8AAAY/AAAPPwAAHz8AAB4/AAAcfwAA/H8AAPj/AADxzwAA488AAOPPAADjjwAA4R8AAOAfAAD4PwAA" rel="icon" type="image/x-icon" />
    <title>Login - sashy</title>
</head>
<body>
    <!-- loader -->
    <div class="loader">
        <img src="/loader.gif" alt="" />
    </div>
    <!-- loader end -->


    <!-- navbar -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">SASHY</a>
        </div>
    </nav>
    <!-- navbar end -->




    <div class="container pt-5 mt-5">
        <div class="text-center row">
            <div class="col-sm-12 col-lg-6">
                <h1>Login</h1><br>
                <form action="/login" method="post">
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="form-group text-center">
                        <input class="btn btn-outline-primary" type="submit" value="Login">
                    </div>
                </form><br>
                <a class="registerhere" href="/register">Register Here</a>
            </div>
            <div class="mt-5 mb-5 col-sm-12 col-lg-6">
                <h3 class="what">post whatever you like and no one will know your identity</h3><br>
                <h4 class="whoaf">BUT, respect is now mandatory</h4><br>
                <h4 class="whoaf">each post can be given positive and negative votes</h4><br>
                <h4 class="whoaf">post will be deleted if it gets less than "-10" votes !!!</h4><br>
                <h4 class="whoaf">now that's exciting</h4><br>
                <h4 class="whoaf"><b>your opinion matters</b> to us</h4><br>
                <h4 class="whoaf">and so does your <b>anonymity</b></h4><br>
                <h2 class="what">be your own god !!</h2>
            </div>
        </div>
    </div>


    <!-- footer -->
    <div class="footer">
        Made with &#10084; by Sarvagna Shukla
    </div>
    <!-- footer end -->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            const loader = document.querySelector(".loader");
            loader.className += " hidden"; // class "loader hidden"
        });
    </script>
</body>
</html>